@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Krona+One&display=swap');
h1{
font-family: 'Dancing Script', cursive;
font-family: 'Krona One', sans-serif;}
p{
  font-family: 'Dancing Script', cursive;
font-family: 'Krona One', sans-serif;
}
